<!DOCTYPE html>
<head>
    <title>weather app</title>
    <!--  here href address is considered from public folder-->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h class="main_header">{{>header}}</h>
    <form>
        <input class="input" type="text" placeholder="Enter Location">
        <button class="button">Search</button>
    </form>
    <p id="message1"></p>
    <p id="message2"></p>
    <p id="message3"></p>
    <script src="/js/weatherpage.js"></script> 
</body>
</html>